body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(img/Fondo@2x.png);
    background-size: 100%;
    height: 50vw;
    background-position: 0em 6em;
    background-repeat: no-repeat;
    width: 100%;
}
.Bloquep{
    width: 100%;
    overflow: hidden;
}

.CBarraS{
    z-index: 2;
    position: fixed;
    width: 102%;
    left: -2%;
    top: -1%;
    background-color: #3265cc;
    display: flex;
    justify-content:space-around;
    height: 4.5em;
    color: white;
    padding-top: 1.7em;
    font-size: 1.2em;
}
.CBarraS i{
    display: none;
}
.CBarraS a{
    background-color: white;
    border-radius: 2em;
    padding: 0.4em 2.5em;
    text-decoration: none;
    color: black;    
}
.CBarraS img{
    width: 10em;
    margin-top: -0.5em;
}
.Cuerpo{
    overflow: hidden;
    margin-top: 10em;
    height: 50em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Consulta{
    background-color: white;
    height: 45em;
    width: 30em;
    border-radius: 1.5em;
    padding-top: 0.2em;
}

.CConsulta label{
    font-size: 1em;
    position: relative;
    left: 2.5em;
    border-color: gray;
}
.CConsulta input{
    width: 30em;
    height: 2em;
    margin-bottom: 1em;
    position: relative;
    left: 3em;
}
#Att{
    text-align: center;
    font-size: 1.5em;
}
#Att2{
    text-align: center;
    font-size: 0.7em;
}
.CConsulta a{
    background-color: #157FFB;
    border-radius: 0.7em;
    padding: 0.8em 3.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    left: 10em;
    top: 2.5em;
}
.Conocer{
    text-align: center;
    text-shadow:  1px 1px 13px black;
}
.Conocer a{
    background-color: #157FFB;
    border-radius: 0.7em;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    top: 1.5em;
}
#Ingreso{
    font-size: 2em;
}
.Ques{
    overflow: hidden;
    height: -45vw;
}
.Contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.titulo{
    text-align: center;
    font-size: 2em;
}
.textico{
    display: flex;
    font-size: 1.2em;
    margin-top: 2em;
    margin-left: 5vw;
    line-height: 1.7em;
}
.textico p{
    text-align: center;
}
.imgCaja img{
    width: 35em;
    height: 25em;
}

.Conocerb1{
    display: flex;
    flex-direction: column;
}
.Conocerb1 a{
    text-decoration: none;
    color: black;
}
.Conocerb1 i{
    margin-left: 6em;
}
.Entregas{
    overflow: hidden;
    height: -50vw;
}
.Etapas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Titulo{
    text-align: center;
}
.Etapa1, .Etapa2, .Etapa3{
    text-align: center;
}
.Etapa2{
    display: flex;
    flex-direction: column;
}
.Etapa1 img{
    width: 20em;
    height: 10em;   
    margin-top: 7em;
}

.Etapa2 img{
    width: 20em;
    height: 10em;
}
.Peq{
    display: flex;
    width: 7em;
    margin-top: 2em;
}
.Peq .img1{
    width: 8em;
    height: 3em;
}
.Peq .img2{
    width: 15em;
    height: 7.5em;
    margin-left: 2em;
    margin-top: -2em;
}
.Etapa3 img{
    width: 20em;
    height: 5em;
    margin-top: 9em;
}
.Conocerb2{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
}
.Conocerb2 a{
    text-decoration: none;
    color: black;
}
.Conocerb2 i{
    margin-left: 4em;
}
.Frecuentes{
    overflow: hidden;
    text-align: center;
}
.Frecuentes h6{
    background-color: #3265cc;
    border-radius: 50%;
    width: 5em;
    height: 3.2em;
    padding-top: 2em;
    color: white;
    margin-left: 48%;
}
.Vermas{
    display: flex;
    flex-direction: column;
}
.Vermas a{
    text-decoration: none;
    color: black ;
}

.MoreQ{
    overflow: hidden;
    height: 18em;
}
.More{
    background-color: #157FFB;
    width: 70vw ;
    text-align: center;
    padding: 1em 4em 2em 2em;
    border-radius: 2em;
    color: white;
    margin: auto;
}
.More p{
    font-size: 1.5em
}
.More a{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 0.6em 4em 0.8em 4em;
    font-size: 0.6em;
}
.Final{
    display: flex;
    width: 100vw;
    height: 8em;
    background-color: #3265cc;
    justify-content: space-evenly;
    color: white;
    text-align: center;
}
.imgfinal img{
    width: 15em;
}
.d i{
    color:#3265cc;
    background-color: white;
    border-radius: 50%;
}
@media screen and  (max-width: 887px){
    .Cuerpo{
        height: 60em;
    }
    .Conocer{
        margin-top: -7em;
        text-shadow: none;
    }
}
@media screen and  (max-width: 700px){
    .CBarraS i{
        display: flex;
        align-items: center;
    }
    .CBarraS p{
        display: none;
    }
    .CBarraS img{
        width: 10em;
        height: 2em;
        margin-top: -0.5em;
    }
}
@media  screen and (max-width:960px) {
    .Etapa3 img{
        margin-top: 2em;
    }
}
@media screen and (max-width:640px){
    .Etapa1 img{
        margin-top: 1em;
    }
}
@media screen and (max-width:900px){
    .Final{
        font-size:  0.5em;
    }
}